/*==============INCOMOONS SECTION=================================================================*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-h8kbj7');
	src:url('../fonts/icomoon.eot?#iefix-h8kbj7') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-h8kbj7') format('woff'),
		url('../fonts/icomoon.ttf?-h8kbj7') format('truetype'),
		url('../fonts/icomoon.svg?-h8kbj7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e601";
	color: #428bca;
	cursor: pointer;
}

.icon-facebook2:before {
	content: "\e606";
	cursor: pointer;
	font-size: 1.5em;
	color: blue;
}

.icon-twitter2:before {
	content: "\e609";
	font-size: 1.5em;
	cursor: pointer;
	color: #428bca;
}

.icon-github4:before {
	content: "\e60e";
	font-size: 1.5em;
	cursor: pointer;
	color: gray;
}

/*==============INCOMOONS SECTION=================================================================*/


/*=================================MOBILE SECTION ================================================*/
@media screen and (min-width: 250px){
	/*==============HEADER SECTION============*/
	.Header{
		
		background-color: white;
		text-align: center;
		width: 100%;
		/*position: fixed;*/
		/*height: 5.43em;*/
		/*border-bottom: .1em solid gray;*/
	}
	
	.Header-imageContainer{
		display: inline-block;
		margin: .6em 0;
		float: left;
		padding: 0 .5em;
	}

	.Header-image{
		border-radius: 50%;
		border: .1em solid white;
		height: 4em;
	}
	/*==============HEADER SECTION============*/

	/*===============MENU SECTION=============*/
	.MainMenu{
		background-color: white;
		text-align: center;
		display: none;
		position: absolute;
		width: 100%;
	}

	.MainMenu-list{
		margin: 0;
		padding: 0;
	}

	.MainMenu-item{
		border-top: 1px solid #CCCCCC;
		display: block;
		padding: .5em 0;
		cursor: pointer;
	}

	.MainMenu-link{
		text-decoration: none;
		color: #428bca;
		font-size: .9em;
	}

	.Menu-icon{
		padding: .5em;
		color: #428bca;
		margin: 0.625em .6em ;
		cursor: pointer;
	}

/*===============MENU SECTION=============*/

/*===============PROFILE SECTION=============*/
.Profile{
	text-align: center;
	background-color: #428bca;
	padding-bottom: .1em;
	border-top: 1px solid #CCCCCC;

}

#Profile-quote{
	margin: .4em 1.5em;
	padding: .2em 0;
	color: white;
	font-size: .8em;
}

.Profile-link{
	background-color: #428bca;
	color: white;
	text-decoration: none;
	padding: .5em 1em;
	border-radius: .5em;
	margin: 0 .5em .5em .5em;
	box-shadow: 0 .2em 0 0 gray;
	display: block;
	display: none;
}	

.Profile-link:hover{
		background-color: white;
		color: #428bca;
		border: 1px solid gray;

	}
/*===============PROFILE SECTION=============*/


/*=============== CONTENT SECTION=============*/

.Content{
	background-color: white;
	text-align: justify;
}

.Content-item-title,
.Content-title{
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	color: #428bca;
	margin-bottom: 1em;
}

.Content-item-description{
	color: #428bca;
	font-size: .9em;

}

.Content-item{
	padding:  .625em;
}

.Content-whiteBox{
	background-color: white;
	padding: 1.25em;
	box-shadow: 0px 3px 2px #EDEDED;
	border: 1px solid #EEE;
	border-radius: 5px;
}

.Content-whiteBox h2,
.Content-whiteBox h2 p{
	margin: 0;
	padding: 0 0 .5em 0;
	color: black;
}

.tableSkills{
	text-align: center;
	color: #428bca;
	font-size: .9em;
}

.imgSkill{
	/*background-color: #428bca;*/
	border-radius: 5px;
	/*margin: 5px 10px;*/
	height: 40px;
	width: 40px;
}

td{
	padding: 5px;
	border: 1px solid #CCCCCC;
}

.contactForm{
	text-align: center;
}
/*comodin que me permite deshabilitar el contactForm*/
.comodin{
	display: none;
}

.input-contactForm
{
	margin: .4em 0 ;
	width: 90%;
	border-radius: 5px;
	border: none;
	border-bottom: 3px solid #CCCCCC;
	color: #428bca;
	padding-left: .625em;
}
.textarea-contactForm{
	margin: .4em 0 ;
	width: 90%;
	border-radius: 5px;
	border: none;
	border-bottom: 3px solid #CCCCCC;
	color: #428bca;
	padding-left: .625em;
}

.btnSubmit{
	background-color: #428bca;
	margin: .5em;
	height: 2em;
	width: 90%;
	border-radius: 7px;
	border: none;
	border-bottom: 3px solid #CCCCCC;
	color: white;
}

.btnSubmit:hover{
	background-color: white;
	color: #428bca;
	border: 1px solid gray;
	border-bottom: 3px solid #CCCCCC;
}

.social{
	text-align: center;
}

.social-link{
	text-decoration: none;
	margin-right: 1em;
}

.Content-item-fig{
	margin: .3em ;
	padding: .2em;
	text-align: center;

}
.Content-item-image{
	border-radius: 10px;
	width: 4em;
	height: 4em;
	vertical-align: top;
}
/*UTILERIAS*/
.uPortafolio{
	display: inline-block;
	height: 100%;
	width: 69%;
}

.uTop{
	background-color: #428bca;
	color: white;
	padding: 1.5em;
}

.ReadButton{
	background-color: #808080;
	border-radius: 5px;
	box-shadow: 0px 4px 0px #5E5E5E;
	height: 1em;
	margin: 0;
	max-width: 7em;
	line-height: normal;
	cursor: pointer;
	border:0;
	padding: 0.625em;
	text-decoration: none;
	text-align: center;
	color: white;
	display: block;
}

/*Slider list images*/
.Slider{
	margin: 0 0.625em;
	text-align: center;
}
/*Slider Previous button*/
.prev{
	float: left;
}
/*Slider next button*/
.next{
	float: right;
}
.prev,
.next{
	margin-top: 60%;
}

.Slider-title{
	padding-top: .625em;
	padding-bottom: 0;
	color: black;
	font-weight: bold;
}

.Slider-list{
	height: 25%;
	width: 75%;
	margin: 0px 1em;
	padding: 0.5625em;
}
/*.Slider-listItem{
	list-style-type: none;
}*/
.Slider-listImage{
	margin-right: 0;
	width: 100%;
	height: 22%;
}

.Slider-description{
	font-style: italic;
}

.uPersonal{
	text-align: center;
}
/*=============== CONTENT SECTION=============*/

/*=============== FOOTER SECTION==============*/
.MainFooter-before{
	height: 6em;
	display: none;
}

.MainFooter{
	padding: .3em 0;
	background-color: #428bca;
	text-align: center;
	border: .1em solid white;
	height: 5em;
	/*position: fixed;*/
	left: 0;
	bottom: 0;
	width: 100%;

}

.MainFooter-container,
.Footer-container{
	border: .1em solid white;
	padding: .625em 0;
	margin: 0 .3em;
	/*background-color: red;*/
	height: 3.5em;
}

.MainFooter-link,
.Footer-rights,
.Footer-link{
	text-decoration: none;
	color: white;
	margin: 0;
}

.Footer-rights{
	padding: .5em;
}

.social{
	list-style: none;
	padding: 0;
	margin: 0;
}

.social-item{
	display: inline-block;
	margin-right: .5em;
}
.fb,.tw,.gp,.gh{
	text-decoration: none;
	color: white;
}
/*=============== FOOTER SECTION=============*/

}
/*=================================MOBILE SECTION ================================================*/


/*================================== IPAD SECTION ================================================*/
@media screen and (min-width: 500px){
/*==============HEADER SECTION============*/
	.Header{
		/*background-color: #C0C0C0;*/
		text-align: center;
		width: 80%;
		height: 2.187em;/*Cambiar el tamaño del header al incluir la imagen*/
		margin: 1% 10% 0;
		border: 1px solid #C0C0C0;
		}
	.Header-imageContainer{
		display: inline-block;
		margin: .6em 0;
		float: left;
		padding: 0 .5em;
	}
	.Header-image{
		border-radius: 50%;
		border: .1em solid white;
		height: 4em;
	}
	/*==============HEADER SECTION============*/

	/*===============MENU SECTION=============*/
	.MainMenu{
		background-color: white;
		text-align: center;
		display: block;
		width: 80%;
	}

	.MainMenu-list{
		margin: 0px;
	    /*display: flex;*/
	    width: auto;
	}

	.MainMenu-item{
		cursor: pointer;
		display: inline-block;
		height: 100%;
		border: none;
	}

	.MainMenu-link{
		text-decoration: none;
		color: #428bca;
		padding: .64em .1em;
		font-size: .8em;
		margin: 0;

	}

	.MainMenu-link:hover{
		background-color: #428bca;
		color: white;
	}

	.Menu-icon,
	.Menu-after{
		display: none;
	}
/*===============MENU SECTION=============*/

/*===============PROFILE SECTION=============*/
.Profile{
	text-align: center;
	background-color: #428bca;
	padding-bottom: .1em;
	width: 80%;
	margin: 0px 10%;
}

#Profile-quote{
	margin: 0;
	padding: 1em 0;
	color: white;
	font-size: 1em;
	font-weight: bold;
}

.Profile-link{
	width: 10%;
	display: none;
}	
/*===============PROFILE SECTION=============*/


/*=============== CONTENT SECTION=============*/

.Content{
	background-color: #ccc;
	width: 80%;
	margin: 0px 10%;
	text-align: justify;
}

.Content-title,
.Content-item-title{
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	color: #428bca;
	margin: .5em;
}

.Content-item-description{
	color: #428bca;
	font-size: .9em;

}

.Content-item{
	padding:  .625em;
	max-width: 100%;
	display: block;
}

.Content-whiteBox{
	background-color: white;
	padding: 1.25em;
	box-shadow: 0px 3px 2px #EDEDED;
	border: 1px solid #EEE;
	border-radius: 5px;
	max-height: 100%;
}

.Content-whiteBox h2,
.Content-whiteBox h2 p{
	margin: 0;
	padding: 0 ;
	color: black;
}

.tableSkills{
	text-align: center;
	color: #428bca;
	font-size: .9em;
}

.imgSkill{
	border-radius: 5px;
	height: 40px;
	width: 40px;
}

td{
	padding: 5px;
	border: 1px solid #CCCCCC;
}

.contactForm{
	text-align: center;
}

/*comodin que me permite deshabilitar el contactForm*/
.comodin{
	display: none;
}

.input-contactForm
{
	margin: .4em 0 ;
	width: 90%;
	border-radius: 5px;
	border: none;
	border-bottom: 3px solid #CCCCCC;
	color: #428bca;
	padding-left: .625em;
}
.textarea-contactForm{
	margin: .4em 0 ;
	width: 90%;
	border-radius: 5px;
	border: none;
	border-bottom: 3px solid #CCCCCC;
	color: #428bca;
	padding-left: .625em;
}

.btnSubmit{
	background-color: #428bca;
	margin: .5em;
	height: 2em;
	width: 90%;
	border-radius: 7px;
	border: none;
	border-bottom: 3px solid #CCCCCC;
	color: white;
}

.btnSubmit:hover{
	background-color: white;
	color: #428bca;
	border: 1px solid gray;
	border-bottom: 3px solid #CCCCCC;
}

.social{
	background-color: white;
	text-align: center;
	border: 1px solid #CCCCCC;

}

.social-link{
	text-decoration: none;
	margin-right: 1em;
}

.Content-item-fig{
	margin: .3em ;
	padding: .2em;
	text-align: center;

}
.Content-item-image{
	border-radius: 10px;
	width: 4em;
	height: 4em;
	vertical-align: top;
}
/*UTILERIAS*/
.uPortafolio{
	display: inline-block;
	height: 100%;
	width: 69%;
}

.uTop{
	background-color: #428bca;
	color: white;
	padding: 1.5em;
	margin: 0px;
}
.Content-item-image{
	margin: 1em 1em 0 1em;
	/*display: inline-block;*/
	text-align: center;
}

.ReadButton{
	background-color: #808080;
	border-radius: 5px;
	box-shadow: 0px 4px 0px #5E5E5E;
	height: 1em;
	margin: 0;
	max-width: 7em;
	line-height: normal;
	cursor: pointer;
	border:0;
	padding: 0.625em;
	text-decoration: none;
	text-align: center;
	color: white;
	display: block;
}

/*Slider list images*/
.Slider{
	margin: 0 0.625em;
	text-align: center;
}
/*Slider Previous button*/
.prev{
	float: left;
}
/*Slider next button*/
.next{
	float: right;
}
.prev,
.next{
	margin-top: 30%;
}

.Slider-title{
	/*padding-top: .625em;
	padding-bottom: 0;
	color: black;
	font-weight: bold;*/
	margin: 0 0 .5em 0;
}

.Slider-list{
	height: 25%;
	width: 75%;
	margin: 0px 1em;
	padding: 0.5625em;
}
/*.Slider-listItem{
	list-style-type: none;
}*/
.Slider-listImage{
	margin-right: 0;
	width: 100%;
	height: 22%;
}

.Slider-description{
	font-style: italic;
	margin: .5em 0;
}

.uPersonal{
	text-align: center;
}
/*=============== CONTENT SECTION=============*/

/*=============== FOOTER SECTION=============*/

.MainFooter{
	/*padding: .3em 0;*/
	background-color: #428bca;
	text-align: center;
	border: .1em solid white;
	height: 5em;
	width: 80%;
	margin-left: 10%;
}

.MainFooter-container,
.Footer-container{
	border: .1em solid white;
	/*padding: .625em 0;*/
	/*margin: 0 .3em;*/
	height: 3.5em;
	width: 97%;
}

.MainFooter-link,
.Footer-rights,
.Footer-link{
	text-decoration: none;
	color: white;
	margin: 0;
}

.Footer-rights{
	padding: .5em;
}

.social{
	list-style: none;
	padding: 0;
	margin: 0;
}

.social-item{
	display: inline-block;
	margin-right: .5em;
}
.fb,.tw,.gp,.gh{
	text-decoration: none;
	color: white;
}
/*=============== FOOTER SECTION=============*/

}
/*================================== IPAD SECTION ================================================*/

/*================================ LAPTOP SECTION ================================================*/
@media screen and (min-width: 1000px){
/*==============HEADER SECTION============*/
	.Header{
		/*background-color: #C0C0C0;*/
		text-align: center;
		width: 50%;
		height: 2.187em;/*Cambiar el tamaño del header al incluir la imagen*/
		margin: 1% 25% 0;
		border: 1px solid #C0C0C0;
		}
	.Header-imageContainer{
		display: inline-block;
		margin: .6em 0;
		float: left;
		padding: 0 .5em;
	}
	.Header-image{
		border-radius: 50%;
		border: .1em solid white;
		height: 4em;
	}
	/*==============HEADER SECTION============*/

	/*===============MENU SECTION=============*/
	.MainMenu{
		background-color: white;
		text-align: center;
		display: block;
		width: 50%;
	}

	.MainMenu-list{
		margin: 0px;
	    /*display: flex;*/
	    width: auto;
	}

	.MainMenu-item{
		cursor: pointer;
		display: inline-block;
		height: 100%;
		border: none;
	}

	.MainMenu-link{
		text-decoration: none;
		color: #428bca;
		padding: .64em .1em;
		font-size: .8em;
		margin: 0;

	}

	.MainMenu-link:hover{
		background-color: #428bca;
		color: white;
	}

	.Menu-icon,
	.Menu-after{
		display: none;
	}
/*===============MENU SECTION=============*/

/*===============PROFILE SECTION=============*/
.Profile{
	text-align: center;
	background-color: #428bca;
	padding-bottom: .1em;
	width: 50%;
	margin: 0px 25%;
}

#Profile-quote{
	margin: 0;
	padding: 1em 0;
	color: white;
	font-size: 1em;
	font-weight: bold;
}

.Profile-link{
	width: 10%;
	display: none;
}	
/*===============PROFILE SECTION=============*/


/*=============== CONTENT SECTION=============*/

.Content{
	background-color: #ccc;
	width: 50%;
	margin: 0px 25%;
	text-align: justify;
}

.Content-title,
.Content-item-title{
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	color: #428bca;
	margin: .5em;
}

.Content-item-description{
	color: #428bca;
	font-size: .9em;

}

.Content-item{
	padding:  .625em;
	max-width: 100%;
	display: block;
}

.Content-whiteBox{
	background-color: white;
	padding: 1.25em;
	box-shadow: 0px 3px 2px #EDEDED;
	border: 1px solid #EEE;
	border-radius: 5px;
	max-height: 100%;
}

.Content-whiteBox h2,
.Content-whiteBox h2 p{
	margin: 0;
	padding: 0 ;
	color: black;
}

.tableSkills{
	text-align: center;
	color: #428bca;
	font-size: .9em;
	/*margin-left: 35%;*/
}

.imgSkill{
	border-radius: 5px;
	height: 40px;
	width: 40px;
}

td{
	padding: 5px;
	border: 1px solid #CCCCCC;
}

.contactForm{
	text-align: center;
}

/*comodin que me permite deshabilitar el contactForm*/
.comodin{
	display: none;
}

.input-contactForm
{
	margin: .4em 0 ;
	width: 90%;
	border-radius: 5px;
	border: none;
	border-bottom: 3px solid #CCCCCC;
	color: #428bca;
	padding-left: .625em;
}
.textarea-contactForm{
	margin: .4em 0 ;
	width: 90%;
	border-radius: 5px;
	border: none;
	border-bottom: 3px solid #CCCCCC;
	color: #428bca;
	padding-left: .625em;
}

.btnSubmit{
	background-color: #428bca;
	margin: .5em;
	height: 2em;
	width: 90%;
	border-radius: 7px;
	border: none;
	border-bottom: 3px solid #CCCCCC;
	color: white;
}

.btnSubmit:hover{
	background-color: white;
	color: #428bca;
	border: 1px solid gray;
	border-bottom: 3px solid #CCCCCC;
}

.social{
	background-color: white;
	text-align: center;
	border: 1px solid #CCCCCC;

}

.social-link{
	text-decoration: none;
	margin-right: 1em;
}

.Content-item-fig{
	margin: .3em ;
	padding: .2em;
	text-align: center;

}
.Content-item-image{
	border-radius: 10px;
	width: 4em;
	height: 4em;
	vertical-align: top;
}
/*UTILERIAS*/
.uPortafolio{
	display: inline-block;
	height: 100%;
	width: 69%;
}

.uTop{
	background-color: #428bca;
	color: white;
	padding: 1.5em;
	margin: 0px;
}
.Content-item-image{
	margin: 1em 1em 0 1em;
	/*display: inline-block;*/
	text-align: center;
}

.ReadButton{
	background-color: #808080;
	border-radius: 5px;
	box-shadow: 0px 4px 0px #5E5E5E;
	height: 1em;
	margin: 0;
	max-width: 7em;
	line-height: normal;
	cursor: pointer;
	border:0;
	padding: 0.625em;
	text-decoration: none;
	text-align: center;
	color: white;
	display: block;
}

/*Slider list images*/
.Slider{
	margin: 0 0.625em;
	text-align: center;
}
/*Slider Previous button*/
.prev{
	float: left;
}
/*Slider next button*/
.next{
	float: right;
}
.prev,
.next{
	margin-top: 30%;
}

.Slider-title{
	/*padding-top: .625em;
	padding-bottom: 0;
	color: black;
	font-weight: bold;*/
	margin: 0 0 .5em 0;
}

.Slider-list{
	height: 25%;
	width: 75%;
	margin: 0px 1em;
	padding: 0.5625em;
}
/*.Slider-listItem{
	list-style-type: none;
}*/
.Slider-listImage{
	margin-right: 0;
	width: 100%;
	height: 22%;
}

.Slider-description{
	font-style: italic;
	margin: .5em 0;
}

/*.Personal-data{*/
.uPersonal{
	text-align: center;
}
/*=============== CONTENT SECTION=============*/

/*=============== FOOTER SECTION=============*/

.MainFooter{
	/*padding: .3em 0;*/
	background-color: #428bca;
	text-align: center;
	border: .1em solid white;
	height: 5em;
	width: 50%;
	margin-left: 25%;
}

.MainFooter-container,
.Footer-container{
	border: .1em solid white;
	/*padding: .625em 0;*/
	/*margin: 0 .3em;*/
	height: 3.5em;
	width: 97%;
}

.MainFooter-link,
.Footer-rights,
.Footer-link{
	text-decoration: none;
	color: white;
	margin: 0;
}

.Footer-rights{
	padding: .5em;
}

.social{
	list-style: none;
	padding: 0;
	margin: 0;
	color: #428bca;
}

.social-item{
	display: inline-block;
	margin-right: .5em;
}
.fb,.tw,.gp,.gh{
	text-decoration: none;
	color: white;
}
.downloadFile{
	text-decoration: none;
	color: white;
}
}
/*================================ LAPTOP SECTION ================================================*/