<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Mi página personal, donde pordrás conocer un poco más de mí." />
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<title> Family </title>
		<link rel="stylesheet" href="../static/css/normalize.css" />
		<link rel="stylesheet" href="../static/css/styles.css" />
	</head>
	
	<body>
		<header class="Header">
			<figure class="Header-imageContainer">
				<img class="Header-image" src="../static/images/avatar.jpg" />
			</figure>
			<span id="iconMenu" class="Menu-icon icon-menu">Menu</span>
		</header> 

		<nav id="MainMenu" class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item"><a class="MainMenu-link" href="index.html">HOME</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="personal.html">PERSONAL</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="school.html">SCHOOL</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="jobs.html">JOBS</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="portafolio.html">PORTFOLIO</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="courses.html">COURSES</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="#"></a></li>
				</ul>
			</nav>
		<!-- Soluciona la parte del perfil oculta cuando sube el menu-->
		<div id="fixMenu" class="Menu-after"></div>
					
		<section id="Content"> 



			<article>


			</article>



		</section>
		

		<div class="MainFooter-before"></div>
		<!-- BEGINNING OF THE FOOTER SECTION-->
		<footer class="Footer">
			<div class="Footer-container">
				<ul class="social">
					<li class="social-item"><a class="fb" href="#">Facebook</a></li>
					<li class="social-item"><a class="tw" href="#">Twitter</a></li>
					<li class="social-item"><a class="gp" href="#">Gmail</a></li>
					<li class="social-item"><a class="gh" href="#">gitHub</a></li>
				</ul>
				<p class="Footer-rights">All Rights Reserved ® 2014</p>
			</div>
		</footer>
		<!-- ENDING THE FOOTER SECTION-->
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="../static/javaScript/animation.js"></script>
	</body>
</html>