<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="utf-8" />
		<meta name="description" content="School Information." />
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<title> Work Information </title>
		<link rel="stylesheet" href="../static/css/normalize.css" />
		<link rel="stylesheet" href="../static/css/styles.css" />
		<link rel="shortcut icon" href="../static/images/agent.ico">
	</head>
	<!-- BEGINNING OF THE PRINCIPAL BODY -->
	<body>
		<!-- BEGINNING OF THE HEADER WHICH INCLUDES MAIN MENU -->
		<header class="Header">
			<!-- MENU ITEM FOR THE NON DESKTOP DESIGN -->
			<div id="iconMenu" class="Menu-icon icon-menu"> Menu</div>
    		<!-- BEGINNING OF THE MAIN MANU -->
			<nav id="MainMenu" class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item"><a class="MainMenu-link" href="index.html">HOME</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="personal.html">PERSONAL</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="school.html">SCHOOL</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="jobs.html">JOBS</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="portafolio.html">PORTFOLIO</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="courses.html">COURSES</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="../docs/joseignaciofuentesramos.docx" target="_blank">DOWNLOAD</a></li>
				</ul>
			</nav>
			<!-- ENDING OF THE MAIN MANU-->
		</header> 
		
		<!-- PHOTO GALLERY SLIDER-->
			<!--<div class="Header-gallery"> 
				<img id="prev" class="prev" src="../static/images/prev.png" />
				<img id="next" class="next" src="../static/images/next.png" />
				<div class="Header-slider">
					<ul>
						<li><img class="Header-slider-item" src="../static/images/image1.jpg" alt="Image1" /><p class="Header-slider-description">optimus pride is the best transformer ever.</p></li>
						<li><img class="Header-slider-item" src="../static/images/image1.jpg" alt="Image1" /><p class="Header-slider-description">optimus pride is the best transformer ever.</p></li>
						<li><img class="Header-slider-item" src="../static/images/image1.jpg" alt="Image1" /><p class="Header-slider-description"><p>optimus pride is the best transformer ever.</p></li>
					</ul>
				</div>
			</div> -->
		<!-- ENDING OF THE PHOTO GALLERY SLIDER-->
		<!-- BEGINING OF THE CONTENT SECTION-->
		<section id="Content" class="Content"> 
			<p class="Content-title uTop">WORK EXPERIENCE</p>
			<!-- BRIEF INTRODUCTION-->
			<article class="Content-item">
				<div class="Content-whiteBox">
					<p class="Content-item-title">Wipro Technologies </p>
					<p class="Content-item-description"> <b>Customer:</b> Banamex <br> 
						<b>Position:</b> Ab initio developer <br>
						<b>Responsibilities:</b>  My main role was to interpret files in cobol language for system migration. Once files  had been interpreted and the system migrated, the next step was to extract information from different data sources (mainframe), transform this information as required by the customer and finally load of such information to the various data marts for their analysis, which is known as ETL process.<br><b>Software:</b> Unix, Cobol, Ab initio and Teradata.</p>
				</div>
			</article>
			<article class="Content-item">
				<div class="Content-whiteBox">
					<p class="Content-item-title">IBM</p>
					<p class="Content-item-description"> <b>Customer:</b> Amway <br> 
						<b>Position:</b> .Net developer <br>
						<b>Responsibilities:</b>  My main role was to develop new features of the website www.amway.com.mx, among which are: <br> 1.- An electronic survey to assess customer satisfaction and<br> 2.- The layout for the website design on mobile devices.<br><b>Software:</b> VB .Net, JavaScript, CSS, ASP .NET and SQL Server 2008.</p>
					
				</div>
			</article>
			</article>
			<article class="Content-item">
				<div class="Content-whiteBox">
					<p class="Content-item-title">Tata Consultancy Services</p>
					<p class="Content-item-description"> <b>Customer:</b> USAA <br> 
						<b>Position:</b>  Visual basic developer <br>
						<b>Responsibilities:</b>  My main role was to develop new modules into an application, which allows us to improve the processes in the BPO area.<br><b>Software:</b> VBA, Access Database.<br> <br>
						<b>Customer:</b> AMIG <br> 
						<b>Position:</b> Visual basic developer <br>
						<b>Responsibilities:</b>  My main role was to develop an application that would allow the BPO team to improve their processes, minimizing the time in each case attended and increasing their daily production, and at the same time it allowed to have a general check of the work done by each member of the BPO team.<br><b>Software:</b> VBA, Access Database.</p>
				</div>
			</article>
			<article class="Content-item">
				<div class="Content-whiteBox">
					<p class="Content-item-title">Flextronics</p>
					<p class="Content-item-description"> <b>Customer:</b>  Flextronics <br> 
						<b>Position:</b>  .Net developer <br>
						<b>Responsibilities:</b>  My main role was the maintenance of the web site to control the quality activities inside company and so to improve its manufacturing processes, besides the development of new features / modules for this web site, based on customer's requirements, also I managed  the database of the system to fix some previous bugs. <br><b>Software:</b> : ASP .Net, VB .Net and SQL Server 2008.</p>
				</div>
			</article>
			<!--<p class="Content-title">INTERNSHIPS</p>
			<article class="Content-item">
				<div class="Content-whiteBox">
					<p class="Content-item-title">Triangle Y Ranch Camp</p>
					<p class="Content-item-description"> I was working as a counselor (in a camp) at Arizona, I was in charge of the children, which allowed me improve my english skills from June-2012 to Aug-2012.</p>
					
				</div>
			</article>
			<article class="Content-item">
				<div class="Content-whiteBox">
					<p class="Content-item-title">R-Tekc</p>
					<p class="Content-item-description"> I was in charge of the computers and LAN networks maintenance from Feb-2012 to Jun-2012 (recently graduated).</p>
					
				</div>
			</article>-->
			<!-- BEGINNING OF THE SOCIAL NETWORKS-->
			<div class="social">
				<div class="Content-item-title "> CONTACT WITH ME </div>
				<a class="icon-facebook2 social-link" href="http://www.facebook.com/joseignacio.fuentesramos" target="_blank"></a>
				<a class="icon-twitter2 social-link" href="http://www.twitter.com/ignacioframos" target="_blank"></a>
				<a class="icon-github4 social-link" href="http://www.github.com/IFuentes" target="_blank"></a>
			</div>
		<!-- ENDING OF THE SOCIAL NETWORKS-->
		</section>
		<!-- ENDING OF THE CONTENT SECTION-->
		
		<!-- BEGINNING OF THE FOOTER SECTION-->
		<div class="MainFooter-before"></div>
		<footer class="MainFooter">
			<div class="MainFooter-container">
				<a class="MainFooter-link" href="http://www.jiframos.260mb.net/templates/" > My Web page </a>
				<p class="Footer-rights">All Rights Reserved&copy 2014</p>
			</div>
		<!-- ENDING THE FOOTER SECTION-->
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="../static/javaScript/animation.js"></script>
	</body>
</html>
