<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="utf-8" />
		<meta name="description" content="School Information." />
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<title> Work Information </title>
		<link rel="stylesheet" href="../static/css/normalize.css" />
		<link rel="stylesheet" href="../static/css/styles.css" />
	</head>
	<!-- BEGINNING OF THE PRINCIPAL BODY -->
	<body>
		<!-- BEGINNING OF THE HEADER WHICH INCLUDES MAIN MENU -->
		<header class="Header">
			<!-- MENU ITEM FOR THE NON DESKTOP DESIGN -->
			<div id="iconMenu" class="Menu-icon icon-menu"> Menu</div>
    		<!-- BEGINNING OF THE MAIN MANU -->
			<nav id="MainMenu" class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item"><a class="MainMenu-link" href="index.html">INICIO</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="personal.html">PERSONAL</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="school.html">ESTUDIOS</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="jobs.html">EMPLEOS</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="portafolio.html">PORTAFOLIO</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="courses.html">CURSOS</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="#"></a></li>
				</ul>
			</nav>
			<!-- ENDING OF THE MAIN MANU-->
		</header> 
		
		<!-- PHOTO GALLERY SLIDER-->
			<!--<div class="Header-gallery"> 
				<img id="prev" class="prev" src="../static/images/prev.png" />
				<img id="next" class="next" src="../static/images/next.png" />
				<div class="Header-slider">
					<ul>
						<li><img class="Header-slider-item" src="../static/images/image1.jpg" alt="Image1" /><p class="Header-slider-description">optimus pride is the best transformer ever.</p></li>
						<li><img class="Header-slider-item" src="../static/images/image1.jpg" alt="Image1" /><p class="Header-slider-description">optimus pride is the best transformer ever.</p></li>
						<li><img class="Header-slider-item" src="../static/images/image1.jpg" alt="Image1" /><p class="Header-slider-description"><p>optimus pride is the best transformer ever.</p></li>
					</ul>
				</div>
			</div> -->
		<!-- ENDING OF THE PHOTO GALLERY SLIDER-->
		<!-- BEGINING OF THE CONTENT SECTION-->
		<section id="Content" class="Content"> 
			<p class="Content-title uTop">WORK EXPERIENCE</p>
			<!-- BRIEF INTRODUCTION-->
			<article class="Content-item">
				<div class="Content-whiteBox">
					<p class="Content-item-title">Wipro</p>
					<p class="Content-item-description"> I supposed to be working as a Bussines Intelligence Developer (FRESHER) from Feb 2014 to Sep-2014.</p>
					
				</div>
			</article>
			<article class="Content-item">
				<div class="Content-whiteBox">
					<p class="Content-item-title">Web Developer IBM</p>
					<p class="Content-item-description"> I worked as a web developer at IBM from Sep-2013 to Jan-2014</p>
					
				</div>
			</article>
			</article>
			<article class="Content-item">
				<div class="Content-whiteBox">
					<p class="Content-item-title">Flextronics</p>
					<p class="Content-item-description"> I worked as a web developer by using .Net technologies from Nov-2012 to Sep-2013</p>
					
				</div>
			</article>
			<p class="Content-title">INTERNSHIPS</p>
			<article class="Content-item">
				<div class="Content-whiteBox">
					<p class="Content-item-title">Triangle Y Ranch Camp</p>
					<p class="Content-item-description"> I worked as a couselor in Arizona from Jun-2012 to Aug-2012</p>
					
				</div>
			</article>
			<article class="Content-item">
				<div class="Content-whiteBox">
					<p class="Content-item-title">R-Tekc</p>
					<p class="Content-item-description"> I was in charge of the computers and LAN networks maintenance from Feb-2012 to Jun-2012</p>
					
				</div>
			</article>
		</section>
		<!-- ENDING OF THE CONTENT SECTION-->
		<!-- BEGINNING OF THE SOCIAL NETWORKS-->
		<section id="social">
			<div class="social">
				<div class="Content-item-title "> CONTACT WITH ME </div>
				<a class="icon-facebook2 social-link" href="http://www.facebook.com/joseignacio.fuentesramos" target="_blank"></a>
				<a class="icon-twitter2 social-link" href="http://www.twitter.com/ignacioframos" target="_blank"></a>
				<a class="icon-github4 social-link" href="http://www.github.com/IFuentes" target="_blank"></a>
				
			</div>
		</section>
		<!-- ENDING OF THE SOCIAL NETWORKS-->
		<!-- BEGINNING OF THE FOOTER SECTION-->
		<div class="MainFooter-before"></div>
		<footer class="MainFooter">
			<div class="MainFooter-container">
				<a class="MainFooter-link" href="http://www.josefuentesramos.260mb.net/" target="_blank"> My Web page </a>
				<p class="Footer-rights">All Rights Reserved&copy 2014</p>
			</div>
		<!-- ENDING THE FOOTER SECTION-->
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="../static/javaScript/animation.js"></script>
	</body>
</html>
