<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Traveling Information." />
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<title> Traveling Information </title>
		<link rel="stylesheet" href="../static/css/normalize.css" />
		<link rel="stylesheet" href="../static/css/styles.css" />
	</head>
	<!-- BEGINNING OF THE PRINCIPAL BODY -->
	<body>
		<!-- BEGINNING OF THE HEADER WHICH INCLUDES MAIN MENU AND AVATAR IMAGE-->
		<header class="Header">
			<figure class="Header-imageContainer">
				<img class="Header-image" src="../static/images/avatar.jpg" />
			</figure>
			<span id="iconMenu" class="Menu-icon icon-menu">Menu</span>
		</header> 
			<!-- BEGINNING OF THE MAIN MANU-->
		<nav id="MainMenu" class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item"><a class="MainMenu-link" href="index.html">HOME</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="personal.html">PERSONAL</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="school.html">SCHOOL</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="jobs.html">JOBS</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="portafolio.html">PORTFOLIO</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="courses.html">COURSES</a></li>
					<li class="MainMenu-item"><a class="MainMenu-link" href="#"></a></li>
				</ul>
			</nav>
		<!-- ENDING OF THE MAIN MANU/HEADER-->
		<!-- Soluciona la parte del perfil oculta cuando sube el menu-->
		<div id="fixMenu" class="Menu-after"></div>
		<!-- BEGINING OF THE CONTENT SECTION-->
		<section id="Content" > 
			<p class="Content-title">TRAVELING INFORMATION</p>
			<!-- ARTICLES -->
			<article class="Content-item">
				<div class="Content-whiteBox">
					<figure class="Content-item-image">
						<img src="../static/images/image1.jpg" alt="Content Traveling Image">
						<p class="Content-item-title">Arizona</p>
						<figcaption class="Content-item-description">I went to Arizona on June 2012 and it was one of the most amazing adventures I've ever had.</figcaption>
						<a class="ReadButton" href="#"><span>Read more »</span></a>
					</figure>
				</div>
			</article>
			<article class="Content-item">
				<div class="Content-whiteBox">
					<figure class="Content-item-image">
						<img src="../static/images/image1.jpg" alt="Content Traveling Image">
						<p class="Content-item-title">Puerto Vallarta</p>
						<figcaption class="Content-item-description"> I went to Puerto Vallarta on May 2014 and it was the first time I knew the sea.</figcaption>
						<a class="ReadButton" href="#"><span>Read more »</span></a>
					</figure>
				</div>
			</article>
			<article class="Content-item">
				<div class="Content-whiteBox">
					<figure class="Content-item-image">
						<img src="../static/images/image1.jpg" alt="Content Traveling Image">
						<p class="Content-item-title">Colima</p>
						<figcaption class="Content-item-description"> I went to Colima on Oct 2012 and it was my first business trip.</figcaption>
						<a class="ReadButton" href="#"><span>Read more »</span></a>
					</figure>
				</div>
			</article>
		</section>
		<!-- ENDING OF THE CONTENT SECTION-->
		<!-- BEGINNING OF THE FOOTER SECTION-->
		<div class="MainFooter-before"></div>
		<footer class="Footer">
			<div class="Footer-container">
				<ul class="social">
					<li class="social-item"><a class="fb" href="#">Facebook</a></li>
					<li class="social-item"><a class="tw" href="#">Twitter</a></li>
					<li class="social-item"><a class="gp" href="#">Gmail</a></li>
					<li class="social-item"><a class="gh" href="#">gitHub</a></li>
				</ul>
				<p class="Footer-rights">All Rights Reserved ® 2014</p>
			</div>
		</footer>
		<!-- ENDING THE FOOTER SECTION-->
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="../static/javaScript/animation.js"></script>
	</body>
</html>